$main-color: #0799ee;
$bgmain-color: rgb(125, 206, 253);
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;
$bigtablet-width: 888px;
$background-image: linear-gradient(to top, #0f0f0fbe, rgba(black, 0));
$font-family: "Montserrat", sans-serif;
